{% extends 'base.html.twig' %}

{% block title %}Lacaze aux Sottises{% endblock %}

{% block body %}

    <body class="landingPage" style="background-image: url('{{ asset('images/landingPagePic.jpg') }}')">
        <a href="" >
            <button class=" accessButton offset-xl-5 col-xl-2 offset-md-4 col-md-4 offset-3 col-6 btn btn-danger btn-lg py-3">Accéder au site</button>
        </a>
    </body>
{% endblock %}
