.back-nav-link:hover {
    border: none !important;
    color: black !important;
}

.dropdown-item:hover {
    background-color: #DA291C;
}

#navbarNavDropdown.navbar-collapse.collapse.show{
    z-index: 20 !important;
}