.nav-link {
    color: #DA291C !important;
    font-size: 1.2em;
    margin-right: 20px;
    padding: 5px 10px !important;
}

.nav-link:hover {
    border: solid black 1px !important;
    border-bottom: none !important
}

.nav-tabs {
    border-bottom: solid black 1px !important
}

.nav-tabs .nav-link.active {
    border: solid black 1px !important;
    border-bottom: none !important;
    padding: 5px 10px;
}

nav>ul {
    list-style: none;
}

.tab-content>.active {
    background-color: rgba(0, 0, 0, 1);
    padding: 20px;
    display: flex;
    justify-content: space-around;
}

.tab-pane a {
    color: #DA291C;
    margin: 0 20px 0 0;
    font-weight: bold;
    padding: 5px 10px;
}

.tab-pane a:hover {
    color: black;
    background-color: #DA291C;
    border-radius: 15px;
    text-decoration: none;
}

.tab-wrap {
    white-space: nowrap;
}

.logo {
    width: 100px;
}