{% extends 'base.html.twig' %}

{% block title %}
	{{'company.isIn.creation'|trans({}, 'company')|title}}
{% endblock %}

{% block body %}

	{% block header %}
		{% include('menu/_front_menu.html.twig') %}
	{% endblock %}

	<div class="d-flex justify-content-around flex-wrap">

		{% for inCreationCompany in inCreationCompanies %}
			<div class="col-3 text-center my-3">
				<a href="{{ path('company_show', {'id': inCreationCompany.id}) }}">
					<h3>{{inCreationCompany.name}}</h3>
					<img class="companyImage" src="{{ asset('images/uploads/company/' ~ inCreationCompany.image.name) }}">
				</a>
			</div>
		{% endfor %}
	</div>

{% endblock %}
