{% for section in sections %}
	{% if section.name == 'intro' %}
		<div class="offset-2 col-8 mb-5 text-center">
			{% if section.title %}
				<h2>{{ section.title }}</h2>
			{% endif %}
			{% if section.subTitle %}
				<h3>{{ section.subTitle }}</h3>
			{% endif %}
			<p>{{ section.content|raw }}</p>
		</div>
	{% endif %}
{% endfor %}
