{% extends 'front_layout.html.twig' %}

{% block title %}
	{{'general.welcome'|trans({}, 'general')|title}}
{% endblock %}

{% block body %}
	<body id="landingPage">
		{% set display = (season.programImage == null and sections == null and homeEvents == null and homePerfs == null) ? 'd-none' : 'd-block' %}
		<a class=" accessLink {{ display }} " href="{{ path('page_show', {'pageSlug': 'home'}) }}">
			<div class=" accessButton"></div>
		</a>
	</body>
{% endblock %}
