p {
    text-align: inherit;
}

#landingPage {
    background-image: url(/images/landingPagePic.jpg);
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.accessButton {
    position: absolute;
    bottom: 20%;
    border-radius: 20px 5px 20px 5px;
    background-color: #DA291C;
    color: black;
    font-weight: bold;
    z-index: 999
}

h1 {
    text-align: center;
    font-weight: bold;
    color: #DA291C;
    margin: 1rem auto;
    text-decoration: underline;
}

h4,
h3 {
    text-decoration: underline;
    text-align: inherit;
}

.colored {
    color: #DA291C
}

.assoIntroImage {
    border-radius: 10px;
    width: 400px;
    height: 350px;
}


.miniImage {
    border-radius: 80px;
    width: 200px;
    height: 150px;
}

.pageTitleBar {
    margin-top: 130px;
}

.pageTitle {
    font-size: 3em;
    display: inline-block;
    align-content: center;
    z-index: 3;
    background-color: white;
}

#titleLines {
    position: relative;
    top: -50px;
    z-index: 2;
    width: 95%;
    left: 2.5%
}

hr {
    border-top: solid;
    height: 3px !important;
    margin: 0.5px 10px 0.5px 10px;
}

hr.blackline {
    color: black
}

hr.redline {
    color: #DA291C;
}

#coopLeftArticle {
    padding: 30px;
    border: dotted 2px;
    border-radius: 20px;
}

#coopRightArticle {
    padding: 30px;
    border: dotted 2px #DA291C;
    border-radius: 20px;
}

#coopBottomArticle {
    padding: 30px;
    border: solid 2px;
    border-radius: 20px;
}

#coopLastArticle {
    padding: 30px;
    border: dashed 2px;
    border-radius: 20px;
}

#projectContainer {
    border-radius: 20px;
}

.red-dot-borders {
    border: dashed #DA291C 2px;
    border-radius: 20px;
    padding: 20px
}