/*-----------------------------------------------------------------------------------------General--------------------------------------------------------------------------------------------*/

@font-face {
    font-family: 'MyriadPro';
    src: url("/public/polices/MyriadPro-Regular.otf")
}

body {
    overflow-x: hidden;
}

body p,
body p span,
body li {
    text-align: inherit;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 0.9em;
    margin: 0
}

body a {
    font-size: 1em;
}

body p,
body li {
    line-height: 1em;
}

ul {
    padding: 0;
    margin: 0
}

div .ul-ml ul {
    margin-left: 0.9em
}

.bg-colored {
    background-color: #DA291C;
}

.colored {
    color: #DA291C
}

.border-colored {
    border: solid 3px #DA291C
}

.redCircle {
    position: absolute;
    top: 20px;
    right: -500px;
    width: 800px;
}

.biColorCircle {
    position: absolute;
    top: 20px;
    left: -500px;
    width: 800px;
}

.homeLeftCircle {
    position: absolute;
    top: 300px;
    left: -100px;
    width: 500px;
    z-index: -3;
}

.homeRightCircle {
    position: absolute;
    top: 800px;
    right: -350px;
    width: 700px;
    z-index: -3;
}

a {
    color: inherit;
}

a:hover {
    text-decoration: none;
    color: #DA291C
}

.download-form {
    font-size: 0.9em;
    font-weight: bold;
}

.text-grey {
    color: rgba(111, 107, 107, 0.748);
}

.element-link:hover .text-grey {
    color: #DA291C
}

/*--------------------------------------------------------------------------------------Landing Page------------------------------------------------------------------------------------------*/

.accessLink {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    background-color: transparent;
    z-index: 999;
    background-image: url("/images/landingPagePic.jpg");
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

/*--------------------------------------------------------------------------------------Titles------------------------------------------------------------------------------------------*/

h1,
h2,
h3,
h4,
h5,
.pageTitle {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h2 {
    text-align: inherit;
    font-size: 1em;
    font-weight: bold;
}

h3 {
    text-align: inherit;
    font-size: 1em;
    margin: inherit
}

#pageTitleBar {
    margin-top: 150px;
}

.pageTitle {
    font-size: 1.25em;
    display: inline-block;
    align-content: center;
    z-index: 3;
    background-color: white;
}

.titleLines {
    position: relative;
    top: -20px;
    z-index: 2;
}

div>img.titleBar {
    position: relative;
    bottom: 1.4em;
    z-index: 1;
    left: 15%;
    width: 70%;
    height: 18px;
}

div>img.homeTitleBar {
    position: relative;
    bottom: 2em;
    z-index: 1;
    left: 15%;
    width: 70%;
    height: 18px;
}


.sectionTitleBar {
    position: relative;
    bottom: 2.1em;
    z-index: 1;
    width: 70%;
    height: 18px;
}

.miniTitleBar {
    position: relative;
    bottom: 2.2em;
    z-index: 1;
    width: 50%;
    height: 18px;
}

/*--------------------------------------------------------------------------------------Images------------------------------------------------------------------------------------------*/
.partnerLogo {
    width: 65px
}

.image-frame {
    position: relative;
    z-index: 2;
}

.image-top-page {
    width: 60%;
    height: 60%;
    position: relative;
    left: -50%;
    z-index: 1;
}

.image-top {
    position: relative;
    display: flex;
    width: 100%
}


/*--------------------------------------------------------------------------------------Articles------------------------------------------------------------------------------------------*/

article {
    margin: 0 4em
}

article h2 {
    margin-bottom: 0
}

.framedArticle {
    padding: 1em 1.5em;
    border: 2px;
    border-radius: 20px;
}

.dot {
    border: dotted
}

.red-dot {
    border: dotted #DA291C;
}

.dash {
    border: dashed
}

.red-dash {
    border: dashed #DA291C;
}

.solid {
    border: solid;
}

.greyFrame {
    background-color: grey
}

.redFrame {
    background-color: #DA291C
}

/*--------------------------------------------------------------------------------------Agenda------------------------------------------------------------------------------------------*/

.nav-pills .nav-link {
    color: #DA291C;
    padding: 0.5rem 0.8rem;
}

.nav-pills .nav-link.active {
    color: black;
    background-color: #DA291C;
}

.nav-pills .nav-link:hover {
    color: black;
    background-color: #DA291C;
    border: none
}

.agenda {
    position: relative;
    top: 0px;
}

.agenda>.active {
    position: relative;
    display: block;
    width: 100%;
    align-items: center;
    background-color: white;
    height: 50px;
    padding: 20px;
    justify-content: space-around;
    z-index: 200;
}

.agenda>.tab-pane a.element-link,
.element-link {
    color: black;
    margin: 0 20px 0 0;
    font-weight: bold;
    padding: 0.5em 1em;
}

.agenda>.tab-pane a.element-link:hover,
.element-link:hover {
    color: #DA291C;
    background-color: unset;
    border-radius: 15px;
    text-decoration: none;
}

.calendarBar {
    z-index: 1;
    height: 18px;
    width: 100%
}

/*--------------------------------------------------------------------------------------Company ------------------------------------------------------------------------------------------*/

.cubic-image-div {
    position: relative;
    display: flex;
}

.image-frame {
    min-width: 250px;
    height: 250px;
    z-index: 3;
}

.cubic-image {
    position: absolute;
    bottom: 5%;
    width: 240px;
    height: 230px;
    z-index: 2;
}