{% extends "front_templates/page_template.html.twig" %}


{% block body %}
	<div class="offset-md-2 col-md-8">
		{% for section in sections %}
			<article class="mb-3">
				{% if section.title %}
					<h3 class="font-weight-bold colored mx-0 mb-1">{{ section.title|raw|capitalize }}</h3>
				{% endif %}
				{% if section.subTitle %}
					<h3 class="mb-2 ml-0">{{ section.subTitle }}</h3>
				{% endif %}
				<div class="text-justify ul-ml mb-0">{{ section.content|raw}}</div>
			</article>
		{% endfor %}
	</div>
{% endblock %}
