{% extends 'back_base.html.twig' %}

{% block flashMessage %}
	<div class="flash-message col-12 text-center bg-white">
		{% for label, messages in app.flashes %}
			{% for message in messages %}
				<div class="flash-{{ label }}">
					{{ message }}
				</div>
			{% endfor %}
		{% endfor %}
	</div>
{% endblock %}
