{% extends "front_templates/page_template.html.twig" %}

{% block body %}

	{% include('/front_pages/_intro_section_template.html.twig') %}

	<div class="container-fluid offset-2 col-8 card-columns">
		{% for section in sections %}
			{% if section.name == 'content' %}
				<article class="card bg-light p-3 text-center">
					{% if section.title %}
						<h3 class="text-center colored mb-0">{{ section.title }}</h3>
					{% endif %}
					{% if section.subTitle %}
						<h4>{{ section.subTitle }}</h4>
					{% endif %}
					{{ section.content|raw }}
				</article>
			{% endif %}
		{% endfor %}
	</div>
{% endblock %}
