{% extends "front_templates/page_template.html.twig" %}

{% block body %}
	<div class="container-fluid">

		{% include('/front/_intro_section_template.html.twig') %}
		{% for section in sections %}
			{% if section.name != 'intro' %}
				<section class=" d-flex align-items-center col-12 mb-3">
					<div class="col-4">
						<img class="assoIntroImage img-thumbnail" src="{{ asset('images/uploads/paragraphImage/' ~ section.image.name) }}">
					</div>
					<article class="red-dot-borders h-100 col-7">
						{% if section.title %}
							<h3 class="colored">{{ section.title }}</h3>
						{% endif %}
						{% if section.subTitle %}
							<h4>{{ section.subTitle }}</h4>
						{% endif %}
						<p class="text-justify">{{ section.content|raw}}</p>
					</article>
				</section>
			{% endif %}
		{% endfor %}
	</div>
{% endblock %}
