{% extends 'front_base.html.twig' %}

{% block title %}
	{{'general.welcome'|trans({}, 'general')|title}}
{% endblock %}

{% block body %}
	<body id="landingPage">
		{% set display = 'd-block' %}
		{% if season.programImage.name == null and sections == null and homeEvents == null and homePerfs == null  %}
			{% set display = 'd-none' %}
		{% endif %}
		<a class=" accessLink {{ display }} " href="{{ path('page_show', {'pageSlug': 'home'}) }}">
			<div class=" accessButton"></div>
		</a>
	</body>
{% endblock %}
