{% extends 'base.html.twig' %}

{% block title %}Edit CieDates{% endblock %}

{% block body %}
    <h1>Edit CieDates</h1>

    {{ include('cie_dates/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('cie_dates_index') }}">back to list</a>

    {{ include('cie_dates/_delete_form.html.twig') }}
{% endblock %}
