
    <nav class="navbar navbar-expand-md navbar-light fixed-top bg-white py-0">
        <a class="navbar-brand ml-4" href=''><img class='logo' src="{{asset('images/logo.jpg')}}"></a>
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse flex-column" id="collapsibleNavId">
            <ul class="navbar-nav mr-0 ml-auto mt-2 mt-lg-0 pr-0">
                <li class="nav-item">
                    <a class="nav-link" href=""><i class="fas fa-1x fa-home"></i></a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link" href="http://p5" id="navbarDropdown" aria-haspopup="true" aria-expanded="false">
                        L'Association
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="http://p5">Présentation</a>
                        <a class="dropdown-item" href="">Projets Pluriels</a>
                        <a class="dropdown-item" href="">Coopération Térritoriale</a>
                        <a class="dropdown-item" href="">Équipe</a>
                        <a class="dropdown-item" href="">Adhésion</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="http://p5" id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        La Saison
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="">Programmation</a>
                        <a class="dropdown-item" href="">Cies en Diffusion</a>
                        <a class="dropdown-item" href="">Cies en Création</a>
                        <a class="dropdown-item" href="">Actions Culturelles</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        Le Festival
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="">Programmation</a>
                        <a class="dropdown-item" href="">Billeterie Solidaire</a>
                        <a class="dropdown-item" href="">Cies en Diffusion</a>
                        <a class="dropdown-item" href="">Rencontres Pro</a>
                        <a class="dropdown-item" href="">Actions Culturelles</a>
                        <a class="dropdown-item" href="">Espace Ludique</a>
                        <a class="dropdown-item" href="">Les p'tits <i class="fas fa-plus-circle"></i></a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        Le Tiers-Lieu
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="">Éco-Lieu</a>
                        <a class="dropdown-item" href="">Espaces Partagés</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        Les Activitées du Lieu
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="">Spectacles Vivants</a>
                        <a class="dropdown-item" href="">Développement Durable</a>
                    </div>
                </li>
            </ul>

            <ul class="navbar-nav mr-4 ml-auto mt-0 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link text-nowrap" href="">La Location</a>
                </li>

                
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        Le Bénévolat
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="">A l'Année</a>
                        <a class="dropdown-item" href="">Festival</a>
                    </div>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="">Partenaire</a>
                </li>

                <li class="nav-item nowrap">
                    <a class="nav-link" href="">Nous Soutenir</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="">Contacts</a>
                </li>
            </ul>
        </div>
    </nav>
