<nav class="navbar navbar-expand-md navbar-light">
    <a class="navbar-brand" href=''><img class='logo' src="{{asset('images/logo.jpg')}}"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse nav-tabs nav d-md-flex flex-md-column" id="navbarNavAltMarkup" role="tablist">
        <ul class="row navbar-nav  mr-2 ml-md-auto ml-2">
            <li>
                <a class="nav-item nav-link" id="nav-home-tab" href="#nav-home"><i class="fas fa-1x fa-home"></i></a>
            </li>
            <li>
                <a class="nav-item nav-link" href="http://p5" id="nav-association-tab" data-toggle="tab" data-target="#nav-association" role="tab" aria-controls="nav-association">
                    L'Association
                </a>
            </li>
            <li>
                <a class="nav-item nav-link" href="" id="nav-season-tab" data-toggle="tab" data-target="#nav-season" role="tab" aria-controls="nav-contact" aria-selected="false">
                    La Saison
                </a>
            </li>
            <li>
                <a class="nav-item nav-link" href="" id="nav-fest-tab" data-toggle="tab" data-target="#nav-fest" role="tab" aria-controls="nav-contact" aria-selected="false">
                    Le Festival
                </a>
            </li>
            <li>
                <a class="nav-item nav-link" href="" id="nav-place-tab" data-toggle="tab" data-target="#nav-place" role="tab" aria-controls="nav-contact" aria-selected="false">
                    Le Tiers-Lieu
                </a>
            </li>
            <li>
                <a class="nav-item nav-link" href="" id="nav-activity-tab" data-toggle="tab" data-target="#nav-activities" role="tab" aria-controls="nav-contact" aria-selected="false">
                    Les activités du Lieu
                </a>
            </li>
        </ul>
        <ul class="row navbar-nav mr-md-5 ml-md-auto ml-4">
            <li>
                <a class="nav-item nav-link" href="" id="nav-rental-tab" data-toggle="tab" data-target="#nav-rental" role="tab" aria-controls="nav-contact" aria-selected="false">
                    Les Locations
                </a>
            </li>
            <li>
                <a class="nav-item nav-link" href="" id="nav-volunteering-tab" data-toggle="tab" data-target="#nav-volunteering" role="tab" aria-controls="nav-contact" aria-selected="false">
                    Le Bénévolat
                </a>
            </li>
            <li>
                <a class="nav-item nav-link" id="nav-partner-tab" href="#nav-partners">
                    Nos Partenaires
                </a>
            </li>
            <li>
                <a class="nav-item nav-link" id="nav-support-tab" href="#nav-support">
                    Nous Soutenir
                </a>
            </li>
            <li>
                <a class="nav-item nav-link" id="nav-contact-tab" href="#nav-home">
                    Contacts
                </a>
            </li>
        </ul>
    </div>
</nav>

<div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade" id="nav-association" role="tabpanel" aria-labelledby="nav-association-tab">
        <a  href="http://p5">Présentation</a>
        <a  href="">Projets Pluriels</a>
        <a  href="">Coopération Térritoriale</a>
        <a  href="">Équipe</a>
        <a  href="">Adhésion</a>
    </div>

    <div class="tab-pane fade" id="nav-season" role="tabpanel" aria-labelledby="nav-season-tab">
        <a  href="http://p5">Programmation</a>
        <a  href="">Cies en Diffusion</a>
        <a  href="">Cies en Création</a>
        <a  href="">Actions Culturelles</a>
    </div>

    <div class="tab-pane fade" id="nav-fest" role="tabpanel" aria-labelledby="nav-fest-tab">
        <a  href="http://p5">Présentation</a>
        <a  href="http://p5">Programmation</a>
        <a  href="http://p5">Billeterie Solidaire </a>
        <a  href="">Cies en Diffusion</a>
        <a  href="">Rencontres Pro</a>
        <a class="tab-wrap" href="">Actions Culturelles</a>
        <a  href="">Espace Ludique</a>
        <a  href="">Les p'tits <i class="fas fa-plus-circle"></i></a>
    </div>

    <div class="tab-pane fade" id="nav-place" role="tabpanel" aria-labelledby="nav-place-tab">
        <a  href="http://p5">Présentation</a>
        <a  href="http://p5">Éco-Lieu</a>
        <a  href="http://p5">Espaces Partagés</a>
    </div>

    <div class="tab-pane fade" id="nav-activities" role="tabpanel" aria-labelledby="nav-activity-tab">
        <a  href="http://p5">Spectacles Vivants</a>
        <a  href="http://p5">Développement Durable</a>
    </div>

    <div class="tab-pane fade" id="nav-volunteering" role="tabpanel" aria-labelledby="nav-volunteering-tab">
        <a  href="http://p5">A l'Année</a>
        <a  href="http://p5">Durant le Festival</a>
    </div>
</div>

