{% extends "front_templates/page_template.html.twig" %}

{% block body %}

	{% include('/front/_intro_section_template.html.twig') %}

	<div class="d-flex justify-content-center">
		<h2 class="text-center mb-3 px-2">Être Bénévole</h2>
	</div>
	<div class="miniTitleBar">
		<hr class="redline">
	</div>
	<div class="offset-1 col-10 mb-3">
		{% for section in sections %}
			{% if section.name != 'intro' %}
				<article class="mr-2 mt-5">
					<div class="d-flex align-items-center mb-3">
						{% if section.image.name %}
							<img class="col-3 mr-3 img-thumbnail p-1" src="{{ asset('images/uploads/paragraphImage/' ~ section.image.name) }}">
						{% endif %}
						{% if section.title %}
							<h3 class=" h-100 colored">{{ section.title }}</h3>
						{% endif %}
					</div>
					{% if section.subTitle %}
						<h4>{{ section.subTitle }}</h4>
					{% endif %}
					{{ section.content|raw }}
				</article>
			{% endif %}
		{% endfor %}
	</div>
{% endblock %}
