{% extends "front_base.html.twig" %}

{% block title %}
	{{ page.pageSlug }}
{% endblock %}

{% block header %}
	{% include( "menu/_front_menu.html.twig") %}
{% endblock %}

{% block pageTitle %}
	<div class="pageTitleBar">
		<div class="d-flex justify-content-center">
			<p class="mt-3 pageTitle px-2">
				{{ ('front.'~ page.name)|trans({}, 'menu')}}
			</p>
		</div>
		<div id="titleLines">
			<hr class="blackline">
			<hr class="redline">
		</div>
	</div>
{% endblock %}
