{% extends 'base.html.twig' %}

{% block title %}New Cies{% endblock %}

{% block body %}
    <h1>Create new Cies</h1>

    {{ include('cies/_form.html.twig') }}

    <a href="{{ path('cies_index') }}">back to list</a>
{% endblock %}
