{% extends 'back_base.html.twig' %}

{% block title %}
	{{'press.create'|trans({}, 'press')|title}}
{% endblock %}

{% block body %}
	<h1>
		{{'press.create'|trans({}, 'press')|title}}
	</h1>

	{{ include('admin/press_document/_form.html.twig') }}

	<a class="badge badge-secondary p-2" href="{{ path('press_document_index') }}">back to list</a>
{% endblock %}
